[submodule "site/themes/ananke"]
	path = site/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "site/themes/PaperMod"]
	path = site/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "site/themes/congo"]
	path = site/themes/congo
	url = https://github.com/jpanther/congo.git
	branch = stable
